<a href="https://colab.research.google.com/github/mselmasry/Dojo-Project2/blob/main/Project02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

url1 = 'https://media.githubusercontent.com/media/mselmasry/Dojo-Project2/main/creditcard.csv'
url2 = 'https://raw.githubusercontent.com/mselmasry/Dojo-Project2/main/Retail_Dataset2.csv'
Dataset1Source = 'The source of the data is: https://www.kaggle.com/mlg-ulb/creditcardfraud, It is Credit Card Fraud Data'
Dataset2Source = 'The source of the data is: https://www.kaggle.com/tevecsystems/retail-sales-forecasting , It is used for forecasting retail demand'

In [10]:
cc_df = pd.read_csv(url1)
retail_df = pd.read_csv(url2)

## Dataset 2

In [11]:
print(f'{Dataset1Source}\n')
cc_df.head(2)

The source of the data is: https://www.kaggle.com/mlg-ulb/creditcardfraud, It is Credit Card Fraud Data

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0

[2 rows x 31 columns]

> The dataset contains transactions made by credit cards in September 2013 by European cardholders.
This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

>It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, â€¦ V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset. The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning. Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

>Given the class imbalance ratio, we recommend measuring the accuracy using the Area Under the Precision-Recall Curve (AUPRC). Confusion matrix accuracy is not meaningful for unbalanced classification.

> Target is **Class**

> Problem is a **Classification** one

In [16]:
print(f'Number of features: {len(cc_df.columns)-1}')

Number of features: 30

In [17]:
print(f'Number of Rows: {len(cc_df)}')

Number of Rows: 284807

## Dataset 2

In [12]:
print(f'{Dataset2Source}\n')
retail_df.head(2)

The source of the data is: https://www.kaggle.com/tevecsystems/retail-sales-forecasting , It is used for forecasting retail demand

   Product_id  Product_Code Warehouse  ... StateHoliday SchoolHoliday  Petrol_price
0      786725  Product_0033    Whse_S  ...            0             0            91
1      786743  Product_1825    Whse_S  ...            0             0            85

[2 rows x 11 columns]

> This **dataset** contains lot of historical sales data. It was extracted from a Brazilian top retailer and has many SKUs and many stores. The data was transformed to protect the identity of the retailer.

> Target is **order_demand**

In [18]:
print(f'Number of features: {len(retail_df.columns)-1}')

Number of features: 10

In [19]:
print(f'Number of Rows: {len(retail_df)}')

Number of Rows: 169211